*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: darkgrey;
}
h1{
    color: red;
    text-align: center;
    margin-bottom: 25px;
}
p{
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: blueviolet;
}